*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 50px auto auto 500px;
    width: 600px;
    height: 300px;
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 0px 2px gray;
    box-sizing: border-box;
}
.header{
    background-color: aqua;
    margin: -3px;
    height: 77px;
    width: 605px;
    position: absolute;
}
.head{
    width: 80px;
    position: fixed;
    margin-left:15px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px gray;
    filter: invert(100%)
}
.content{
    display: flex;
}
h2{
    width: 150px;
    position: absolute;
    margin-left:15px;
    margin-top: 110px;
}
.marker{
    width: 10px;
    position: absolute;
    margin-left:15px;
    margin-top: 140px;
}
h4{
    width: 100px;
    position: absolute;
    margin-left:25px;
    margin-top: 140px;
}
.dev{
    width: 250px;
    position: absolute;
    margin-left:15px;
    margin-top: 160px;
}
.edit{
    width: 75px;
    position: absolute;
    margin-left:25px;
    margin-top: 200px;
}
.gear{
    width: 15px;
    position: absolute;
    margin-left:15px;
    margin-top: 202px;
}
